<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=Cp1252" />
<script src="../dbdoc.js" type="text/javascript"></script>
<link href="../dbdoc.css" type="text/css" rel="stylesheet">
</head>
<body id="bottom_left">
<h2>Views
<div id="search"><input type="text" onkeyup="$d_Find('narrow',this.value,'a')"/></div></h2><div id="narrow"><a href ="PROVEEDORES_SUCURSALES_VIEW.html" target="ObjectDetailsFrame">PROVEEDORES_SUCURSALES_VIEW</a>
<a href ="SUCURSAL_DEPARTAMENTOS_VIEW.html" target="ObjectDetailsFrame">SUCURSAL_DEPARTAMENTOS_VIEW</a>
<a href ="VISTA_CLIENTES.html" target="ObjectDetailsFrame">VISTA_CLIENTES</a>
<a href ="VISTA_EMPLEADOS.html" target="ObjectDetailsFrame">VISTA_EMPLEADOS</a>
<a href ="VISTA_ENVIOS_DETALLE.html" target="ObjectDetailsFrame">VISTA_ENVIOS_DETALLE</a>
<a href ="VISTA_PRODUCTOS_ASC.html" target="ObjectDetailsFrame">VISTA_PRODUCTOS_ASC</a>
<a href ="VISTA_PRODUCTOS_DESC.html" target="ObjectDetailsFrame">VISTA_PRODUCTOS_DESC</a>
<a href ="VISTA_PROVEEDORES.html" target="ObjectDetailsFrame">VISTA_PROVEEDORES</a>

</div></body> </html>