{% extends "base.html" %} {% block title %} Home Page {% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Departamentos</h1>
    </div><button class="btn btn-success"><a href="/addDepartamento" class="text-white text-decoration-none">+ Agregar</a></button> <br><br>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Codigo del Departamento</th>
            <th>Nombre del Departamento</th>
            <th>Descripción del Departamento</th>
            <th>Acción</th>
        </tr>
        </thead>
        <tbody>
        {% for departamento in departamentos %}
        <tr>
            <td>{{ departamento[0] }}</td>
            <td>{{ departamento[1] }}</td>
            <td>{{ departamento[2] }}</td>
            <td class="d-flex align-items-center">
                <button class="btn btn-warning btn-sm me-2"><a href="{{ url_for('update_departamento', codigo=departamento[0]) }}" class="text-white text-decoration-none">Actualizar</a></button>
                <button class="btn btn-danger btn-sm"><a href="{{ url_for('eliminar_departamento', codigo=departamento[0]) }}" class="text-white text-decoration-none">Eliminar</a></button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}