<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Proveedores</title>
<link rel="stylesheet" href="/css/style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
    <div class="icon">
        <a href="/" class="icon-text">
            <img src="/recursos/img/logo.png" alt="icono" class="iconimg">
            <h2>El Encuentro</h2>
        </a>
        {% if 'user' in session %}
        <div class="logout">
            <a href="{{ url_for('cerrar_sesion') }}" class="btn btn-outline-dark btn-sm text-white"><i class="fa-solid fa-right-from-bracket"></i>Cerrar sesión</a>
        </div>
        {% endif %}
    </div>

    <div>
        <nav class="navbar">
            <a href="/Proveedores"> <h6>Proveedores </h6></a>
            <a href="/Productos"> <h6>Productos </h6></a>
            <a href="/Sucursales"> <h6>Sucursales </h6></a>
            <a href="/Departamentos"> <h6>Departamentos </h6></a>
            <a href="/Empleados"> <h6>Empleados </h6></a>
            <a href="/Clientes"> <h6>Clientes </h6></a>
            <a href="/Inventario"> <h6>Inventario </h6></a>
            <a href="/Facturacion"> <h6>Facturacion </h6></a>
            <a href="/Pagos"> <h6>Pagos </h6></a>
            <a href="/Envios"> <h6>Envios </h6></a>
        </nav>
    </div>

    <div class="banner-container">
        <img src="/recursos/img/Banner.jpeg" alt="icono" class="banner">
    </div>

    <div class="container">
        <h1 class="text-white">Gestión de Proveedores</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        Registrar Nuevo Proveedor
                    </div>
                    <div class="card-body">
                        <form action="/proveedores" method="post">
                            <div class="form-group">
                                <label for="CodProveedor">Código de Proveedor:</label>
                                <input type="text" class="form-control" id="CodProveedor" name="CodProveedor" required>
                            </div>
                            <div class="form-group">
                                <label for="nombre_proveedor">Nombre del Proveedor:</label>
                                <input type="text" class="form-control" id="nombre_proveedor" name="nombre_proveedor" required>
                            </div>
                            <div class="form-group">
                                <label for="producto_ventas">Producto de Ventas:</label>
                                <input type="text" class="form-control" id="producto_ventas" name="producto_ventas" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Registrar</button>
                        </form>                        
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card custom-card">
                    <div class="card-header bg-dark text-white">
                        Lista de Proveedores
                    </div>
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Nombre</th>
                                    <th>Producto de Ventas</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for proveedor in proveedores %}
                                <tr>
                                    <td>{{ proveedor[0] }}</td>
                                    <td>{{ proveedor[1] }}</td>
                                    <td>{{ proveedor[2] }}</td>
                                    <td>
                                        <button class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#editProveedorModal{{ proveedor[0] }}">Editar</button>
                                        <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteProveedorModal{{ proveedor[0] }}">Eliminar</button>
                                    </td>
                                </tr>

                                <!-- Modal Editar Proveedor -->
                                <div class="modal fade" id="editProveedorModal{{ proveedor[0] }}" tabindex="-1"
                                    aria-labelledby="editProveedorModalLabel{{ proveedor[0] }}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editProveedorModalLabel{{ proveedor[0] }}">Editar Proveedor</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="{{ url_for('edit_proveedor', CodProveedor=proveedor[0]) }}" method="post">
                                                    <div class="form-group">
                                                        <label for="nombre_proveedor">Nombre del Proveedor:</label>
                                                        <input type="text" class="form-control" id="nombre_proveedor" name="nombre_proveedor" value="{{ proveedor[1] }}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="producto_ventas">Producto de Ventas:</label>
                                                        <input type="text" class="form-control" id="producto_ventas" name="producto_ventas"
                                                            value="{{ proveedor[2] }}">
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- Modal Eliminar Proveedor -->
                                <div class="modal fade" id="deleteProveedorModal{{ proveedor[0] }}" tabindex="-1" aria-labelledby="deleteProveedorModalLabel{{ proveedor[0] }}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteProveedorModalLabel{{ proveedor[0] }}">Eliminar Proveedor</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>¿Estás seguro de que deseas eliminar al proveedor {{ proveedor[1] }}?</p>
                                                <form action="{{ url_for('delete_proveedores', CodProveedor=proveedor[0]) }}" method="post">
                                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                </form>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->    
    <footer>
        <div class="footer-columns">
            <div>
                <h5>Nosotros</h5>
                <p class="nosotros">
                    Ubicados en el corazón de Costa Rica, en El Encuentro nos dedicamos a ofrecer productos de calidad para
                    todas tus necesidades de construcción y remodelación. Nuestro proyecto fue creado con el objetivo de
                    aplicar los conocimientos adquiridos en lenguajes de bases de datos, asegurando un manejo eficiente y
                    moderno de nuestro inventario y servicios.
                    Nos enorgullecemos de brindar atención personalizada y soluciones innovadoras para nuestros clientes.
                    ¡Visítanos y encuentra todo lo que necesitas para tus proyectos!               
                </p>
            </div>
    
            <div>
                <h5>Siguenos en</h5>
                <img src="/recursos/img/redessociales.png" alt="productoimg" width="190" height="190" class="redes">
            </div>
    
    
            <div>
                <h5>Servicio Al Cliente</h5>
                <h3 class="serviciocliente">+506 22244-556</h3>
            </div>
    
        </div>
    </footer>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="/js/script.js"></script>
</body>
</html>
