{% extends "base.html" %}

{% block title %}
Actualizar Departamento
{% endblock %}

{% block content %}
<div class="container mt-5">
    <a href="{{ url_for('departamentos') }}" class="btn btn-primary mb-3" style="color: white; text-decoration: none;">Volver</a>

    <h1>Actualizar Departamento</h1>
    <form method="post">
        <div class="form-group">
            <label for="nombre_sucursal">Nombre Sucursal</label>
            <input type="text" class="form-control" id="nombre_sucursal" name="nombre_departamento" value="{{ departamento[0] }}" required>
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción del Departamento</label>
            <input type="text" class="form-control" id="descripcion" name="descripcion" value="{{ departamento[1] }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}