<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Departamentos</title>
<link rel="stylesheet" href="/css/style.css">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="icon">
        <a href="/" class="icon-text">
            <img src="/recursos/img/logo.png" alt="icono" class="iconimg">
            <h2>El Encuentro</h2>
        </a>
        {% if 'user' in session %}
        <div class="logout">
            <a href="{{ url_for('cerrar_sesion') }}" class="btn btn-outline-dark btn-sm text-white"><i class="fa-solid fa-right-from-bracket"></i>Cerrar sesión</a>
        </div>
        {% endif %}
    </div>

    <div>
        <nav class="navbar">
            <a href="/Proveedores"> <h6>Proveedores </h6></a>
            <a href="/Productos"> <h6>Productos </h6></a>
            <a href="/Sucursales"> <h6>Sucursales </h6></a>
            <a href="/Departamentos"> <h6>Departamentos </h6></a>
            <a href="/Empleados"> <h6>Empleados </h6></a>
            <a href="/Clientes"> <h6>Clientes </h6></a>
            <a href="/Inventario"> <h6>Inventario </h6></a>
            <a href="/Facturacion"> <h6>Facturacion </h6></a>
            <a href="/Pagos"> <h6>Pagos </h6></a>
            <a href="/Envios"> <h6>Envios </h6></a>
        </nav>
    </div>

    <div class="banner-container">
        <img src="/recursos/img/Banner.jpeg" alt="icono" class="banner"> 
    </div>

{% block content %}
    <div class="container2 mt-5">
        <a href="{{ url_for('sucursales') }}" class="btn btn-primary mb-3" style="color: white; text-decoration: none;">Volver</a>
        <h1>Actualizar Sucursal</h1>

        <form method="post">
            <div class="form-group">
                <label for="correo">Correo</label>
                <input type="text" class="form-control" id="correo" name="correo" value="{{ sucursal[0] }}" required>
            </div>
            <div class="form-group">
                <label for="direccion">Direcion</label>
                <input type="text" class="form-control" id="direccion" name="direccion" value="{{ sucursal[1] }}" required>
            </div>
            <div class="form-group">
                <label for="telefono">Telefono</label>
                <input type="text" class="form-control" id="telefono" name="telefono" value="{{ sucursal[2] }}" required>
            </div>
            <button type="submit" class="btn btn-success">Actualizar</button>
        </form>
    </div>

{% endblock %}

    
    <footer>
        <div class="footer-columns">
            <div>
                <h5>Nosotros</h5>
                <p class="nosotros">
                    Ubicados en el corazón de Costa Rica, en El Encuentro nos dedicamos a ofrecer productos de calidad para
                    todas tus necesidades de construcción y remodelación. Nuestro proyecto fue creado con el objetivo de
                    aplicar los conocimientos adquiridos en lenguajes de bases de datos, asegurando un manejo eficiente y
                    moderno de nuestro inventario y servicios.
                    Nos enorgullecemos de brindar atención personalizada y soluciones innovadoras para nuestros clientes.
                    ¡Visítanos y encuentra todo lo que necesitas para tus proyectos!
                </p>
            </div>
    
            <div>
                <h5>Siguenos en</h5>
                <img src="/recursos/img/redessociales.png" alt="productoimg" width="190" height="190" class="redes">
            </div>
    
    
            <div>
                <h5>Servicio Al Cliente</h5>
                <h3 class="serviciocliente">+506 22244-556</h3>
            </div>
    
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/JS/script.js">
    </body>
</html>
